:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  /*Colors */
  /* Main button color, nav, logo */
  --primary-color: #581C1C;
  --primar-color-hover: #481717;
  /* Call to action,  hightlights, price */
  --accent-color: #D4AF37;
  /* 	Input borders, tabs, muted text */
  --secondary-color: #6B4F4F;
  --background-color: #FDF6ED;
  /* Cards and Forms */ 
  --surface-color: #FFFFFF;
  --text-color: #2F2F2F;
  --highlight-color: #A87060;

  --error-color: #8B2E2E;
  /* Maybe dark mode colors */
  /* background	#1B1B1B (Charcoal Black)
  surface	#2B2B2B
  text	#F0EDE8 (Warm white)
  accent	Same gold: #D4AF37  */

  --font-heading: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;
}


h1, h2, h3 {
  font-family: var(--font-heading);
  margin: 0;
  padding: 0;
}

body, input, button {
  font-family: var(--font-body);
}
body {
  margin: 0;
  background-color: var(--background-color);
  font-size: 1rem;
}

label, button, input {
  cursor: pointer;
}

.button, a.button {
  padding: .5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.button.primary, a.button.primary {
  background-color: var(--primary-color);
  color: var(--surface-color);
}

.button.primary:hover {
   background-color: var(--primar-color-hover);
}

.button.primary {
  background-color: var(--primary-color);
  color: var(--surface-color);
}

.button.primary:hover {
   background-color: var(--primar-color-hover);
}

.input {
  font-size: 1rem;
  padding: .5rem .75rem;
}
.input.primary {
  outline: none;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
}

.input.primary:focus{
  border: 2px solid var(--primary-color);
  
}

.input.container {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.center-screen {
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;  /* Overrides if supported */
  justify-content: center;
  align-items: center;
}


.login-form, .register-form {
  margin-inline: .5rem;
  background-color: var(--surface-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}


.register-form {
  max-height: 80vh;
}
.register-form .header,
.register-form .footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
}
.register-form .body {
  overflow-y: auto;
  flex:1;
  min-height: 0;
}


.login-form p, .login-form a, .register-form a {
  font-size: .875rem;
}

.login-form a, .register-form a {
  color: var(--primary-color);
  text-decoration: none;
}

.login-form a:hover, .register-form a:hover {
  text-decoration: underline;
}

.login-form label {
  font-weight: 500;
}

.center-flex {
  margin-inline: auto;
}
.push-right {
  margin-left: auto;
}

.error {
  color: var(--error-color);
}

.list {
  margin: .5rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card  {
  background-color: var(--surface-color);
  padding: 2rem;
  border-radius:8px;
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  
  color: var(--text-color);
}

.card:hover {
  box-shadow: 0 0 3px black;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
}

.app-layout .main-layout {
  flex: 1;
  overflow-y: auto;
}

.app-layout header,  .app-layout footer {
  flex-shrink: 0;
}
