:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  /*Colors */
  /* Main button color, nav, logo */
  --primary-color: #581C1C;
  --primar-color-hover: #481717;
  /* Call to action,  hightlights, price */
  --accent-color: #D4AF37;
  /* 	Input borders, tabs, muted text */
  --secondary-color: #6B4F4F;
  --background-color: #FDF6ED;
  /* Cards and Forms */ 
  --surface-color: #FFFFFF;
  --text-color: #2F2F2F;
  --highlight-color: #A87060;

  --error-color: #8B2E2E;
  /* Maybe dark mode colors */
  /* background	#1B1B1B (Charcoal Black)
  surface	#2B2B2B
  text	#F0EDE8 (Warm white)
  accent	Same gold: #D4AF37  */

  --font-heading: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;
}
h1, h2, h3 {
  font-family: var(--font-heading);
}

body, input, button {
  font-family: var(--font-body);
}
body {
  background-color: var(--background-color);
  font-size: 1rem;
}

a {
  font-size: .8rem;
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
  color: var(--primar-color-hover);
}

form {
  border-radius: 5px;
  background-color: var(--surface-color);
}
label, button, input {
  cursor: pointer;
}
button {
  padding: .3rem .5rem;
  border: none;
  box-shadow: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button.primary {
  background-color: var(--primary-color);
  color: var(--surface-color);
}

.button.primary:hover {
   background-color: var(--primar-color-hover);
}

.input.primary {
  outline: none;
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
}

.input.primary:focus{
  border: 2px solid var(--primar-color-hover);
  
}

.input.container {
  display: flex;
  flex-direction: column;
}




